.logos {
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0px;
  scroll-behavior: smooth;
  position: relative;
}

/* Import Google font - Poppins */
.wrapper {
  max-width: 1200px;
  width: 98%;
  position: relative;
  margin: auto;
  padding-top: 1rem;
  margin-top: 2rem !important;
}
.comment{
  text-align: justify;
  height: 80px;
  overflow: hidden;
  font-weight: lighter;
  font-size: 14px; 
  margin-top: 0.5rem;
  font-style: italic;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  line-height: 50px;
  background: #0A0837;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}


.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 32px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-left: 0px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 80%;
  list-style: none;
  background-image: linear-gradient(to top,#0A0476, #851BC0);
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  align-items: baseline;
  max-width: 90%;
  box-shadow:0px 0px 10px 3px #0A065D;
  border: 1px solid #0A065D;
}

.card {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: white;
}

.img-name-class {
  display: flex;
  align-items: center;
}
.no-image {
  width: 40px; 
  height: 40px; 
  border-radius: 100%; 
  border:2px solid white; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.testamonial-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.carousel .card h2 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}